## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [4]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [5]:
s = "Hi there Sam!"
a = list(s.split(" "))

In [6]:
print(a)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [7]:
planet = "Earth"
diameter = 12742

In [8]:
print("The diameter of Earth is 12742 kilometers")

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [1]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [2]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [13]:

print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [14]:
"the main difference between tuple and list is that the tuple is immutable where as list is mutable"

'the main difference between tuple and list is that the tuple is immutable where as list is mutable'

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [22]:
a="user@domain.com"

In [23]:
l=0
for i in a: 
  if i=='@':
    l=a.index(i)+1
print(a[l::])

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [24]:
def check(str1):
  str1.lower()
  if "dog" in str1:
    return True
  else:
    return False

In [25]:
print(check("The phrase contains dog"))
print(check("The phrase contains cat"))

True
False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [26]:
def counter(str1):
  a=str1.count("dog")
  return a

In [27]:
print(counter("dog dog dog"))
print(counter("dog licks the bone and the dog loves to play with it"))

3
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [3]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [29]:
caught_speeding(90,1)

'Big Ticket'

In [30]:
caught_speeding(65,0)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [31]:
salary=[1000,1500,1800,1200,1100]
sum=0
for i in salary:
  sum=sum+i
print("the total salary is",sum)

the total salary is 6600

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [33]:
emp={"Empid":1,"Empname":"loganathan","Basicpay":5000}
dept={"DeptName":"cse","Deptid":104}
emp.update(dept)
print(emp)

{'Empid': 1, 'Empname': 'loganathan', 'Basicpay': 5000, 'DeptName': 'cse', 'Deptid': 104}